---
import Layout from "@/layouts/main.astro";
import { getProducts } from "@/lib/fake-api";

const products = await getProducts();
---

<Layout content={{ title: "Space Hardware" }}>
	<ul>
		{
			products.map((product) => (
				<li>
					<a href={`/products/${product.id}`}>{product.name}</a>
				</li>
			))
		}
	</ul>
</Layout>
